body { /* отладка*/
  height: 2160px;
}

.header {
  width: 1052px;
  margin: 92px 24px 96px;
  display: grid;
  grid-template-columns: 450px 152px 450px;
  grid-template-rows: 105px;
  align-items: flex-start;
  justify-items: left;
  /*background-color: lightgray;*/
}

.header__menu {
  width: 450px;
  margin-top: 0px;
  font-size: 18px;
  letter-spacing: 0.01em;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  margin-top: 44px;
  margin-left: 27px;
  list-style: circle outside;
}

.header__menu-item {
  margin-right: 1.73em;
}

.header__menu-link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__menu-item_active:focus {
  border-bottom: none;
}

.header__logo {
  width: 152px;
  /*background-color: aqua;*/
  text-align: center;
}

.header__logo-link {

}

.header__logo-image {
  width: 136px; 
}

.address {
margin-top: 0px;
margin-left: 185px;
width: 240.52px;
font-family: Raleway;
font-size: 18px;
font-weight: 400;
line-height: 1.39em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
font-style: normal;
letter-spacing: 0.00em;
align-self: center;
}

